<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113138144-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-113138144-1');
		</script>
		<meta name="google-site-verification" content="7v9vHI8_EPDSVRCsWk1QJz0-YQjt8JhWF0Az7lqhvWs" />
		<meta charset="utf-8" />
		<meta name="viewport" 		content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="description" 	content="Ingress Mission Day Dummy" />
		<meta name="author" 			content="Orga Mission Day Dummy" />
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta property="og:title" content="Mission Day Dummy">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://dummy.missionday.info">
        <meta property="og:image" content="http://dummy.missionday.info/_images/MissionDayLogoSplash.png">
        <meta property="og:description" content="You must register here for your QR-Code to fast ">
        <meta property="og:locale" content="en_EU">
        <meta name="twitter:title" content="Mission Day Dummy">
        <meta name="twitter:url" content="https://dummy.missionday.info">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:description" content="You must register here for your QR-Code to fast ">
        <meta name="twitter:image" content="http://dummy.missionday.info/_images/MissionDayLogoSplash.png">
        <meta name="keywords" content="Missionday, ingress, resistance, enl, res, enlightened">
		<title>Mission Day Dummy</title>
		<script src="https://use.fontawesome.com/527b257c91.js"></script>
		<link href="../_css/animate.css" 										rel="stylesheet" 		type="text/css" />
		<link href="../_css/style.css" 											rel="stylesheet" 		type="text/css" />
		<link href="../_images/MissionDayLogoSplash.png" 						rel="shortcut icon" 	id="favicon" />
				<script>

				$(document).ready(function(){

					$("#myBtn1").click(function(){
						$("#myModal1").modal({backdrop: true});
					});
					$("#myBtn2").click(function(){
						$("#myModal2").modal({backdrop: true});
					});
					$("#myBtn3").click(function(){
						$("#myModal3").modal({backdrop: true});
					});
					$("#myBtn4").click(function(){
						$("#myModal4").modal({backdrop: true});
					});
					$("#myBtn5").click(function(){
						$("#myModal5").modal({backdrop: true});
					});
					$("#myBtn6").click(function(){
						$("#myModal6").modal({backdrop: true});
					});
					$("#myBtn7").click(function(){
						$("#myModal7").modal({backdrop: true});
					});
					$("#myBtn8").click(function(){
						$("#myModal8").modal({backdrop: true});
					});
					$("#myBtn9").click(function(){
						$("#myModal9").modal({backdrop: true});
					});
					$("#myBtn10").click(function(){
						$("#myModal10").modal({backdrop: true});
					});
					$("#myBtn11").click(function(){
						$("#myModal11").modal({backdrop: true});
					});
					$("#myBtn12").click(function(){
						$("#myModal12").modal({backdrop: true});
					});
					$("#myBtn13").click(function(){
						$("#myModal13").modal({backdrop: true});
					});
					$("#myBtn14").click(function(){
						$("#myModal14").modal({backdrop: true});
					});
					$("#myBtn15").click(function(){
						$("#myModal15").modal({backdrop: true});
					});
					$("#myBtn16").click(function(){
						$("#myModal16").modal({backdrop: true});
					});
					$("#myBtn17").click(function(){
						$("#myModal17").modal({backdrop: true});
					});
					$("#myBtn18").click(function(){
						$("#myModal18").modal({backdrop: true});
					});
					$("#myBtn19").click(function(){
						$("#myModal19").modal({backdrop: true});
					});
					$("#myBtn20").click(function(){
						$("#myModal20").modal({backdrop: true});
					});
					$("#myBtn21").click(function(){
						$("#myModal21").modal({backdrop: true});
					});
					$("#myBtn22").click(function(){
						$("#myModal22").modal({backdrop: true});
					});
					$("#myBtn23").click(function(){
						$("#myModal23").modal({backdrop: true});
					});
					$("#myBtn24").click(function(){
						$("#myModal24").modal({backdrop: true});
					});
				});

		</script>
	</head>
	<body data-spy="scroll">
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a href="#schedule" class="gn-icon gn-icon-archive">Schedule</a></li>
								<li><a href="#registration" class="gn-icon gn-icon-help">Registration</a></li>
								<li><a href="#badges" class="gn-icon gn-icon-archive">Badges overview</a></li>
								<li><a href="#swag" class="gn-icon gn-icon-archive">Swag</a></li>
								<li><a href="#cars" class="gn-icon gn-icon-archive">Cars</a></li>
								<li><a href="#contact" class="gn-icon gn-icon-article">Contact</a></li>
								<li><a href="#credits" class="gn-icon gn-icon-archive">Credits</a></li>
								<li><a href="https://www.missionday.info/impressum/" class="gn-icon gn-icon-help">Impressum</a></li>
							</ul>
						</div>
					</nav>
				</li>
				<li>
					<a href="index.php">Mission Day Dummy</a>
				</li>
				<li>
				</li>
			</ul>
		</div>


		<!-- Section: intro -->
		<section id="start" class="home-section text-center bg-gray" style="padding-top:60px;">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<a href="#" target="_blank"><img src="../_images/banner.jpg" class="img-responsive" alt="Responsive Image" width="100%" /></a>
					</div>
				  </div>
			</div>
		</section>
		<!-- /Section: intro -->

		<!-- Section: Schedule -->
		<section id="schedule" class="home-section text-center bg-gray">
			<div class="heading-about marginbot-20">
				<div class="container">
							<div class="section-heading">
								<h2>Official Schedule</h2>
							</div>

						</div>
			</div>
			<!-- content -->
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p style="font-size:18px"><b>11:00 - 11:15</b></p>
						<p>Group Picture<br/>
							<a href="https://goo.gl/maps/5bBE1bnF23M2" target="_blank" class="btn btn-skin scroll"><i class="fa fa-map-marker" aria-hidden="true"></i> Google Maps</a><br>
							Brabo's Monument<br />
							Grote Markt<br />Dummy, Belgium
							<br>
						</p>
						<br>
						<p style="font-size:18px"><b>11:15 - 16:00</b>
						</p>
							<p>Xplore Dummy together through missions<br>
							<p style="font-size:14px">Map with missions and badges<br>
							<a href="/map/index.html" target="map" class="btn btn-skin scroll"><i class="fa fa-map-o" aria-hidden="true"></i> Open Street Map</a> <a href="https://missionday.eu/dummy-gmap" target="map" class="btn btn-skin scroll" alt="Google Map" ><i class="fa fa-map-marker" aria-hidden="true"></i> Google Map</a><br />
							<span style="font-size:14px">Badge overview with Gmap links to 1st portals <a href="#badges" class="scroll">here</a></span></p>


							<br>
						</p>
						<p style="font-size:18px"><b>13:00 - 17:00</b></p>
						<p>Registration of completed missions.<br>
							Create your QR code for registration at Mercado <a href="#registration">here</a>!<br />
							<br />
							Checkin Location<br/>

							<a href="https://goo.gl/maps/QESDM3j4Qq72" target="_blank" class="btn btn-skin scroll"><i class="fa fa-map-marker" aria-hidden="true"></i> Google Maps</a><br/>
							<a href="http://www.super-mercado.be/" target="_blank"><img style="border: 0px solid ; width: 180px;" alt="Mercado" title="Super Mercado" src="_images/logo-zwart-01_by_mercado.png"></a><br />
							Groenplaats 43<br/>
							Dummy, Belgium
						</p>
					</div>
				</div>
			</div>

		</section>
		<!-- /Section: Schedule -->



		<!-- Section: registration -->
		<section id="registration" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="section-heading">
							<h2>Registration</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
					Please register here to receive the QR code for your on-site check-in. <br/>
					You need to complete 6 or more "MD: Dummy, ..." missions for the Mission Day Medal point.  <br/>
					The QR code will be sent to you by email.
						<hr />
					</div>
				</div>
				<?php
					if ($errmsg=="") {
						$errhide= 'style="display: none"';
					}
				?>
				<div class="row" <?php echo $errhide; ?>>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<strong>Warning!</strong> <?php 	echo $errmsg; ?>
						</div>
					</div>
				</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<form action="" parsley-validate novalidate method="post">
							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="form-group">
									<label>Agent name (Case sensitive)</label>
									<input type="alphanum" name="agent" parsley-trigger="change" required placeholder="Agent name" class="form-control" maxlength="15" />
								</div><!--/form-group-->
								<div class="form-group">
									<label>Telegram</label>
									<input type="alphanum" name="tgname" parsley-trigger="change" placeholder="Telegram name" class="form-control" maxlength="36" />
								</div><!--/form-group-->
								<div class="form-group">
									<label>Email address</label>
									<input type="email" name="email" parsley-trigger="change" required placeholder="Email address" class="form-control" maxlength="256" />
								</div><!--/form-group-->
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6">
								<div class="form-group" style="text-align: left;" >
									<label>Faction</label>
									<div>
										<div class="radio">
											<label>
												<input type="radio" name="faction" id="optionsRadios1" value="enl" />
												Enlightened
											</label>
										</div>
										<div class="radio">
											<label>
												<input type="radio" name="faction" id="optionsRadios2" value="res" />
												Resistance
											</label>
										</div>
									</div>
								</div>
								<div style="text-align: left;" >
									<button class="btn btn-skin scroll" type="submit" >Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</section>
		<!-- /Section: registration -->

		
		<!-- Section: contact & credits -->
		<?php
		include ("_core/html/footer.html");

		?>
	    <!-- /Section: contact & credits -->

		<!-- Section: footer -->
		<section id="footer" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>This is a fan page and not affiliated with Ingress or Niantic Labs</p>
					</div>
				</div>
			</div>
		</section>
		<!-- /Section: footer -->


		<!-- Core JavaScript Files -->

		<script src="../_js/jquery.easing.min.js"></script>
		<script src="../_js/classie.js"></script>
		<script src="../_js/gnmenu.js"></script>
		<script src="../_js/jquery.scrollTo.js"></script>
		<script src="../_js/stellar.js"></script>


		<!-- Custom Theme JavaScript -->
		<script src="../_js/custom.js"></script>

		<script src="../_core/plugins/validation/parsley.min.js"></script>
	</body>
</html>
