<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113138144-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-113138144-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" 		content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="description" 	content="Ingress Mission Day Dummy" />
		<meta name="author" 			content="Orga Mission Day Dummy" />

		<title>MissionDay Dummy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<link href="../_plugin/font-awesome/css/font-awesome.min.css" 	rel="stylesheet" 		type="text/css"  />
		<link href="../_css/animate.css" 										rel="stylesheet" 		type="text/css" />
		<link href="../_css/style.css" 											rel="stylesheet" 		type="text/css" />
		<link href="../_images/MissionDayLogoSplash.png" 					rel="shortcut icon" 	id="favicon" />
		<script type="text/javascript" src="../_plugin/llqrcode.js"></script>
		<script type="text/javascript" src="../_plugin/webqr.js"></script>
		<script id="intergram" type="text/javascript" src="https://www.intergram.xyz/js/widget.js"></script>
		<script> window.intergramId = "-1001214483425" 
					window.intergramCustomizations = {
					titleClosed: 'Chat öffnen',
					titleOpen: 'Supportchat',
					introMessage: 'Willkommen beim Hilfe-Chat des MD Dummy. ' +
									'Mit deiner ersten Nachricht wird für uns ein anonymer Gast-Chat gestartet. ' +
									'Falls nicht bereits geschehen, schau doch vielleicht mal in die FAQs.',
					autoResponse: 'Deine Nachricht ist bei uns eingegangen. Es kann allerdings etwas dauern bis jemand aus der Orga ' +
									'antworten kann. Teile uns doch schon mal deinen Name oder Agentenname mit',
					autoNoResponse: '...es scheint aktuell tatsächlich niemand online zu sein. Versuche es ' +
									'evtl. später nochmals oder habe noch etwas Geduld.',
					mainColor: "#eb5d1e", // Can be any css supported color 'red', 'rgb(255,87,34)', etc
					alwaysUseFloatingButton: true // Use the mobile floating button also on large screens
				};
		</script>
		<script>

				$(document).ready(function(){
					
					$("#myBtn1").click(function(){
						$("#myModal1").modal({backdrop: true});
					});
					$("#myBtn2").click(function(){
						$("#myModal2").modal({backdrop: true});
					});
					$("#myBtn3").click(function(){
						$("#myModal3").modal({backdrop: true});
					});
					$("#myBtn4").click(function(){
						$("#myModal4").modal({backdrop: true});
					});	
					$("#myBtn5").click(function(){
						$("#myModal5").modal({backdrop: true});
					});
					$("#myBtn6").click(function(){
						$("#myModal6").modal({backdrop: true});
					});
					$("#myBtn7").click(function(){
						$("#myModal7").modal({backdrop: true});
					});
					$("#myBtn8").click(function(){
						$("#myModal8").modal({backdrop: true});
					});
					$("#myBtn9").click(function(){
						$("#myModal9").modal({backdrop: true});
					});
					$("#myBtn10").click(function(){
						$("#myModal10").modal({backdrop: true});
					});
					$("#myBtn11").click(function(){
						$("#myModal11").modal({backdrop: true});
					});
					$("#myBtn12").click(function(){
						$("#myModal12").modal({backdrop: true});
					});
					$("#myBtn13").click(function(){
						$("#myModal13").modal({backdrop: true});
					});
					$("#myBtn14").click(function(){
						$("#myModal14").modal({backdrop: true});
					});
					$("#myBtn15").click(function(){
						$("#myModal15").modal({backdrop: true});
					});
					$("#myBtn16").click(function(){
						$("#myModal16").modal({backdrop: true});
					});
					$("#myBtn17").click(function(){
						$("#myModal17").modal({backdrop: true});
					});
					$("#myBtn18").click(function(){
						$("#myModal18").modal({backdrop: true});
					});
					$("#myBtn19").click(function(){
						$("#myModal19").modal({backdrop: true});
					});
					$("#myBtn20").click(function(){
						$("#myModal20").modal({backdrop: true});
					});
					$("#myBtn21").click(function(){
						$("#myModal21").modal({backdrop: true});
					});
					$("#myBtn22").click(function(){
						$("#myModal22").modal({backdrop: true});
					});
					$("#myBtn23").click(function(){
						$("#myModal23").modal({backdrop: true});
					});
					$("#myBtn24").click(function(){
						$("#myModal24").modal({backdrop: true});
					});				
				});	
		
		</script>
		
	</head>
	<body data-spy="scroll">
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a href="#qrscan" class="gn-icon gn-icon-archive">WebQR Scanner</a></li>
								<li><a href="#registration" class="gn-icon gn-icon-help">Registration</a></li>
								<li><a href="#badges" class="gn-icon gn-icon-help">Badges overview</a></li>
								<li><a href="#contact" class="gn-icon gn-icon-archive">Contact</a></li>
								<li><a href="admin.php" class="gn-icon gn-icon-archive">Admin</a></li>
								<li><a href="https://dummy.missionday.info/impressum.php" class="gn-icon gn-icon-help">Impressum</a></li>
							</ul>
						</div>
					</nav>
				</li>
				<li>
					<a href="https://dummy.missionday.info/">Mission Day Dummy</a>
				</li>
				<li>
					<div style="font-size: 14pt; padding-left: 20px; padding-right: 20px;">
					<a href="admin.php?action=logout">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span><span class="hidden-xs"> <? echo $_SESSION['agent']; ?></span>
					</a>
					</div>
				</li>
				<li>
				</li>
			</ul>
		</div>


		<!-- Section: intro -->
		<section id="start" class="home-section text-center bg-gray" style="padding-top:60px;">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">         	
						<a href="#" target="_blank"><img src="../_images/banner.jpg" class="img-responsive" alt="Responsive Image" width="100%" /></a>
					</div>
				  </div>
			</div>    
		</section>
		<!-- /Section: intro -->	
		
		<!-- Section: registration -->
		<section id="registration" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="section-heading">
							<h2>Check-in Registration System</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<div class="panel panel-default" style="max-width: 320px;">
							<div class="panel-heading">
								<h3 class="panel-title">{$cirusername} [ID:{$ciruserid}]</h3>
							</div>
							<div class="panel-body">
								<!-- Nav tabs -->
								<div class="nav nav-tabs" role="tablist">
									<button href="#info" aria-controls="info" role="tab" data-toggle="tab" class="btn btn-skin scroll"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
									<button href="#howto" aria-controls="howto" role="tab" data-toggle="tab" class="btn btn-skin scroll"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
									<button href="#qrscanner" aria-controls="info" role="tab" data-toggle="tab" class="btn btn-skin scroll"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></button>
									<button href="#password" aria-controls="password" role="tab" data-toggle="tab" class="btn btn-skin scroll"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
									<a href="qrcheck.php?action=logout" class="btn btn-skin scroll"><span class="glyphicon glyphicon-off" aria-hidden="true"></a>
								</div>
							</div>
						</div>
					</div>						
					<div class="col-xs-12 col-sm-8 text-left">
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="info">
								<h4>Information</h4>
								Your are now loged in. Please scan a QR-Code <button href="#qrscanner" aria-controls="info" role="tab" data-toggle="tab" class="btn btn-skin scroll"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span></button><br />
								<br />
								If it does not work with the webapp, you can us every other qr code scanner like <a href="https://missionday.eu/qr-droid" target="_blank">QR Droid Privat</a> (Android) or <a href="https://missionday.eu/qr-ios" target="_blank">i-nigma QR Code</a> (iOS).
							</div>
							
							
							<div role="tabpanel" class="tab-pane" id="howto">
								<h4>Howto</h4>
								<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQz_OmJ2Y7zl0HhPCUmNeBOnBGF52S0xLh30YseALdhbBjG2sw70aE48iDjPbq43ScRZW-o7vj6BYGA/embed?start=false&loop=false&delayms=3000" frameborder="0" width="320" height="240" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
							</div>	

							
							<div role="tabpanel" class="tab-pane" id="password">
								<h4>Password change</h4>
								<form action="qrcheck.php?action=newpwd" parsley-validate novalidate style="text-align: left;" method="post">
									<input type="hidden" name="agentid" value="<?php echo $_SESSION['ciruserUid']; ?>" />
									<div class="form-group">
										<div class="col-xs-12 col-sm-12 col-md-12">
											New Password: <input type="password" name="password" parsley-trigger="change" placeholder="Enter password" class="form-control" maxlength="256" />								
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12">
											Repeate Password: <input type="password" name="password_confirm" parsley-trigger="change" placeholder="Enter password" class="form-control" maxlength="256" />								
										</div>
										<div class="col-xs-12 col-sm-12 col-md-12" style="padding-top: 30px;">
											<button type="submit" name="https://dummy.missionday.info/admin.php" value="sav" class="btn btn-skin scroll">Save</button>
										</div>
									</div>
								</form>
							</div>							
						
							<div role="tabpanel" class="tab-pane" id="qrscanner">
							<div id="main">
							<div id="header">					
							</div>
								<div id="mainbody" style="display: inline;">
									<table class="tsel" border="0" width="100%">
										<tbody>
										<tr>
											<td colspan="3" align="center">
												
												<p><div id="result">- scanning -</div><a href="qrcheck.php" class="btn btn-skin scroll">Reload Page</a>
												</p>
											</td>
										</tr>
										<tr>
											<td colspan="3" align="center">
												<img src="../_images/down.png">
											</td>
										</tr>
										
										<tr>
											<td valign="top" align="center" width="50%">
												<table class="tsel" border="0">
													<tbody>
														<tr>
															<td><img class="selector" id="webcamimg" src="../_images/vid.png" onclick="setwebcam()" align="left" style="opacity: 1;">
															</td>
															<td><img class="selector" id="qrimg" src="../_images/cam.png" onclick="setimg()" align="right" style="opacity: 0.2;">
															</td>
														</tr>
														<tr>
															<td colspan="2" align="center">
																<div id="outdiv">
																	<video id="v" autoplay=""></video>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</td>
										</tr>

										</tbody>
									</table>									
								</div>									
							</div>	
							</div>	
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				{$qratuh_error}
			</div>
		</section>
		<!-- /Section: registration -->	
	
		
		<!-- Section: contact -->
		<section id="contact" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="section-heading">
							<h2>Contact</h2>
						</div>
					</div>
				</div>
			</div>

				<div class="container">
					<p>&nbsp;</p>
					<p><h4>Email</h4><a href="mailto:dummy.missionday.info?cc=&bcc=&subject=&body=">dummy@missionday.info</a></p>
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>
							<h4>Telegram Messenger</h4>
							<a href="https://missionday.eu/dummy-tg-channel" target="tg" class="btn btn-skin scroll">Telegram Info Channel</a>&nbsp;
							<a href="https://missionday.eu/dummy-tg-chat" target="tg" class="btn btn-skin scroll">Telegram Info Chat</a>
						</p>
					</div>
				</div>
		</section>		
		<!-- /Section: contact -->
		
		<!-- Section: credits -->
		<section id="credits" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="section-heading">
							<h2>Credits</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
                    We want to thank the <a href="https://www.missionday.info" target="supporter">Missionday.info</a> - the unofficial Mission Day Domain - for their kind support with preparing the event.
                </div>  
					<div class="col-xs-12 col-sm-12 col-md-12">
						This event is kindly supported by the following companies:
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
							<a href="https://missionday.eu/fb-pinot-bar-dummy" target="_blank">
								<img src="_images/credits/Pinot_logo_cmyk_3.jpg" alt="PINoT" title="PINoT" img style="height: 100px;"/>
							</a>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
							<a href="https://missionday.eu/printed-on-demand" target="_blank">
								<img src="_images/credits/printitlogo.jpg" alt="print-it" title="print-it" img style="border: 0px solid ; width: 320px;"/>
							</a>
														
					</div>
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
							
					</div>
				</div>   
			</div>
		</section>
		<!-- /Section: credits -->

		<!-- Section: footer -->
		<section id="footer" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>This is a fan page and not affiliated with Ingress or Niantic Labs</p>
					</div>
				</div>
			</div>
		</section>
		<!-- /Section: footer -->

		<!-- Core JavaScript Files -->

		<script src="../_js/jquery.easing.min.js"></script>
		<script src="../_js/classie.js"></script>
		<script src="../_js/gnmenu.js"></script>
		<script src="../_js/jquery.scrollTo.js"></script>
		<script src="../_js/stellar.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="../_js/custom.js"></script>
		<script src="../_core/plugins/validation/parsley.min.js"></script>
		<canvas id="qr-canvas" width="320" height="240"></canvas>
		<script type="text/javascript">load();</script>
	</body>
</html>