<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113138144-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-113138144-1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" 		content="width=device-width, initial-scale=1.0" />
		<meta name="description" 	content="Ingress Mission Day Dummy" />
		<meta name="author" 			content="Orga Mission Day Dummy" />

		<title>MissionDay Dummy</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/527b257c91.js"></script>
		<link href="../_css/animate.css" 										rel="stylesheet" 		type="text/css" />
		<link href="../_css/style.css" 											rel="stylesheet" 		type="text/css" />

		<link href="../_images/MissionDayLogoSplash.png" 					rel="shortcut icon" 	id="favicon" />
	</head>
	<body data-spy="scroll">
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li><a href="#registration" class="gn-icon gn-icon-help">Registration</a></li>
								<li><a href="#contact" class="gn-icon gn-icon-archive">Contact</a></li>
								<li><a href="qrcheck.php" class="gn-icon gn-icon-archive">QR-Checkin</a></li>
								<li><a href="../impressum.html" class="gn-icon gn-icon-help">Impressum</a></li>
							</ul>
						</div>
					</nav>
				</li>
				<li>
					<a href="https://dummy.missionday.info/">MissionDay Dummy</a>
				</li>
				<li>
					<div style="font-size: 14pt; padding-left: 20px; padding-right: 20px;">
						<a href="admin.php?action=logout">
							<span class="glyphicon glyphicon-off" aria-hidden="true"></span><span class="hidden-xs"> <? echo $_SESSION['agent']; ?></span>
						</a>
					</div>
				</li>
				<li>
				</li>
			</ul>
		</div>


		<!-- Section: intro -->
		<section id="start" class="home-section text-center bg-gray" style="padding-top:25px;">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<a href="#" target="checkin"><img src="../_images/banner.jpg" class="img-responsive" alt="Responsive Image" width="100%" /></a>
					</div>
				  </div>
			</div>
		</section>
		<!-- /Section: intro -->


		<!-- Section: TBL Users -->
		<section id="tbl_users" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="section-heading">
							<h2>CIRS QR Code Email</h2>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-8 text-left">
						Email to <?php echo $agentName; ?> [<?php echo $agentEmail; ?>] resend?
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 text-left">
						<form action="admin.php?action=agentqrmail" parsley-validate novalidate style="text-align: left;" method="post">
							<input type="hidden" name="agentname" value="<?php echo $agentName; ?>">
							<input type="hidden" name="tgname" value="<?php echo $tgName; ?>">
							<input type="hidden" name="email" value="<?php echo $agentEmail; ?>">
							<input type="hidden" name="authcode" value="<?php echo $agentAuthcode; ?>">
							<a href="admin.php" class="btn btn-danger">No</a>
							<button type="submit" name="btn_action" value="snd" class="btn btn-success">Yes</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	    <!-- /Section: TBL Users -->


		<!-- Section: contact & credits -->
		<?php
		include ("_core/html/footer.html");

		?>
	    <!-- /Section: contact & credits -->

		<!-- Section: footer -->
		<section id="footer" class="home-section text-center bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12">
						<p>This is a fan page and not affiliated with Ingress or Niantic Labs</p>
					</div>
				</div>
			</div>
		</section>
		<!-- /Section: footer -->


		<!-- Core JavaScript Files -->
		<script src="../_js/jquery.easing.min.js"></script>
		<script src="../_js/classie.js"></script>
		<script src="../_js/gnmenu.js"></script>
		<script src="../_js/jquery.scrollTo.js"></script>
		<script src="../_js/stellar.js"></script>


		<!-- Custom Theme JavaScript -->
		<script src="../_js/custom.js"></script>

		<script src="../_core/plugins/validation/parsley.min.js"></script>
	</body>
</html>
